$light-grey: #DBDBE5;
$dark-grey: #BDBCCE;
$stem: #C9A4CD;
$lunch: #FECD8B;
$S: #466BB3;
$event: #FDFBE4;
$cospar-darkblue: #142453;
$border: 1px 0 0 0 rgba(0, 0, 0, 0.1), 0 1px 0 0 rgba(0, 0, 0, 0.1), 1px 1px 0 0 rgba(0, 0, 0, 0.1), 1px 0 0 0 rgba(0, 0, 0, 0.1) inset, 0 1px 0 0 rgba(0, 0, 0, 0.1) inset;

.program {
  height: 100%;

  th {
    font-weight: normal;
    color: white;
    padding: 0;
    }

  a {
    text-decoration: none;
    padding: 20px;
    height: 100%;
    display: flex;
    align-self: center;
    text-align: center;
    color: white;
    transition: background-color 0.3s;

    strong {
      font-size: 1.4em;
    }
    // div added to allow vertical alignment
    div {
      align-self: center;
    }

    span {
      border-bottom: solid 1px rgba(255,255,255,0.4);
      transition: all 0.3s;
    }

    &:hover {
      color: white !important;
      background: darken(#0b4899, 5%);

      span {
        border-bottom: solid 1px rgba(255,255,255,1);
      }
    }
  }



  .table-header {
    background: $cospar-darkblue;
  }

  td {
    box-shadow: $border;
    text-align: center;
  }

  .border-white {
    border-right: solid 5px #fff;
  }

  .bg-light-grey {
    background-color: $light-grey;
    color: #0a0a0a;
  }

  .bg-dark-grey {
    background-color: $dark-grey;
    color: #0a0a0a;
  }

  .bg-stem {
    background-color: $stem;
    color: white;
  }

  .bg-lunch {
    background-color: $lunch;
    color: #0a0a0a;
  }

  .bg-S {
    background-color: $S;
    color: white;
  }

  .bg-S-darker {
    background-color: darken($S, 10%);
    color: white;
  }

  .bg-S-darkest {
    background-color: darken($S, 20%);
    color: white;
  }

  .bg-S-light {
    background-color: lighten($S, 20%);
    color: white;
  }
  .bg-S-lighter {
    background-color: lighten($S, 25%);
    color: white;
  }

  .bg-event {
    background-color: $event;
    color: #0a0a0a;
  }

  .bg-teal {
    background-color: #11998e;
    color: white;
  }
}
