@import url("https://fonts.googleapis.com/css?family=Roboto:400,700,900");
html {
  scroll-behavior: smooth;
}

body {
  font: 1em/1.5 'Roboto', sans-serif;
  color: #212529;
}

section {
  margin-bottom: 4em;
}

a {
  color: #0c4da2;
  text-decoration: underline;
}

a:hover {
  color: #0a428a;
}

h1 {
  font: bold 2.6em/1.5 'Roboto', sans-serif;
  margin-bottom: 0.25em;
  color: #142453;
}

h2 {
  font: bold 1.8em/1.5 'Roboto', sans-serif;
  margin-bottom: 0.75em;
  color: #0c4da2;
}

h3 {
  font: bold 1.4em/1.5 'Roboto', sans-serif;
  color: #142453;
}

h4 {
  font: bold 1.1em/1.5 'Roboto', sans-serif;
}

.button {
  background: #0c4da2;
  color: white;
  border: solid 1px #dee2e6;
  display: block;
  text-align: center;
  padding: 1.25em;
  margin-bottom: 1em;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
  font: bold 1.2em/1.5 'Roboto', sans-serif;
}

.button:hover {
  color: white;
  background: #0a428a;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table th {
  background-color: #142453;
  border: solid 1px #0f1b3e;
  color: white;
  padding: 1em;
}

table td {
  border: solid 1px rgba(255, 255, 255, 0.85);
  padding: 1em;
  background-color: #f2f2f2;
}

table tr:nth-child(odd) {
  background-color: #f2f2f2;
}

.top {
  background: url(https://ghs2019.com/img/top-bg.jpg) no-repeat;
  background-size: cover;
  height: 300px;
}

.top .title span {
  color: #0c4da2;
  font: 900 2.75em/1.5 'Roboto';
}

.top .title div {
  font: 1.25em/1.5 'Roboto';
}

.menu h2 {
  margin-bottom: 0;
  padding: 0.5em;
  background: #142453;
  color: white;
}

.menu .list-group .list-group-item {
  background: #f2f2f2;
  border-radius: 0;
  border: solid 1px rgba(255, 255, 255, 0.9);
  padding: 0.6em 1em;
  font-weight: bold;
  text-decoration: none;
}

.menu .list-group a {
  text-decoration: underline;
}

.menu .list-group a:hover {
  text-decoration: underline;
}

.menu .list-group-item.active {
  color: #0c4da2;
  font-weight: bold;
  text-decoration: none;
}

.menu .list-group-item.active:hover {
  text-decoration: underline;
}

.side h2 {
  margin-bottom: 0;
  padding: 0.5em;
  background: #142453;
  color: white;
}

.header {
  background: #343a40;
  color: white;
  font: bold 1.8em/1.5 'Roboto', sans-serif;
}

.top-button {
  z-index: 999999;
  position: fixed;
  bottom: 0;
  right: 20px;
  background-color: #0c4da2;
  color: white;
  padding: 1em 1.25em;
  font-size: 0.9em;
  font-weight: bold;
}

.top-button:hover {
  background: #0a428a;
  color: white;
}

.accordion .card {
  border-style: none;
  background-color: #142453;
  margin-bottom: 10px;
  border-radius: 0px;
}

.accordion .card .card-header:first-child {
  border-style: none;
  border-radius: 0px;
}

.accordion .card .card-header:first-child button {
  font-weight: bold;
  margin-bottom: 0;
  padding: 0.5em;
  background: #142453;
  color: white;
}

.alert-primary {
  background: #f2f2f2;
  border: none;
}

.alert-primary h1 {
  color: #2e323d;
}
/*# sourceMappingURL=style.css.map */